{% extends 'base.html' %}

{% block body_content %}

    <div class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    {% if user.is_authenticated %}
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">You are already logged in.</h3></div> 
                                    <div class="card-body">
                                    <a href="{% url 'dashboard' %}">Go to Dashboard</a></h1>
                                    </div>
                                    {% else %}
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                        
                                        
                                        <form method="POST">
                                            {% csrf_token %}
                                             <input type="hidden" name="next" value="{{ next }}">
                                            {% include 'form.html' %}
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid">
                                                    <button type="submit" class="btn btn-primary btn-block" >Login</button>
                                                    </div>
                                            </div>   
                                        </form>


                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="{% url 'register' %}">No account? Go to register</a></div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">This is still not copyrighted</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    {% endblock body_content %}

        